@font-face {
  font-family: 'Helvetica';
  src: url("./assets/fonts/Helvetica-Bold-Font.ttf");
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-width: 0;
  vertical-align: middle;
  cursor: pointer;
}

body {
  width: 100%;

  --accent-color: #0198BD;
  --start-btn-color: #F18B06;
  --nav-background-color: #000;
  --subscribe-btn-background-color: #FAD165;
  --standart-white: #fff;
  --step-background-color: #F5F9FA;
  --step-border-color: #CCCCCC;
  --results-h3-color: #666666;
  --sign-in-btn-background-color: #191919;
  --comments-color: #3B5998;
  --comments-border-color: #E2E2E2;
  --comments-content-color: #1A1A1A;
  --comments-time-color: #808080;
  --footer-container-background: #6C7778;
  --footer-items-color: #575757;
  --footer-policy-background: #333333;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  img:not(.icon) {
    width: 100%;
    height: auto;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--nav-background-color);
  border: 0;
  height: 56px;
  width: 100%;
  z-index: 199;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  color: var(--standart-white);
  max-width: 1220px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav button, .hamburger-box {
  display: flex;
  padding: 4px 9px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.nav .search {
  padding: 8px 9px;
}

@media (max-width: 1023px) {
  .nav .search {
    display: none;
  }
}

.menu_btns, .auth_btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hamburger-box, .sign-in {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--standart-white);
}

@media (max-width: 1023px) {
  .hamburger-box {
    padding: 8px 9px;
    box-sizing: border-box;
  }

  .hamburger-box span {
    display: none;
  }
}

.nav .logo {
  display: flex;
  align-items: center;
}

.nav .iFrame {
  display: flex;
  align-items: center;
  width: 85px;
  height: 40px;
  padding: 0 3.7px 0 5px;
  background-color: var(--standart-white);
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 27.6px;
  color: var(--standart-white);
  border-radius: 0;
}

@media (max-width: 1023px) {
  .nav .iFrame {
    display: none;
  }
}

.nav .subscribe {
  display: flex;
  align-items: center;
  color: var(--nav-background-color);
  background-color: var(--subscribe-btn-background-color);
  border: none;
  height: 34px;
}

@media (max-width: 767px) {
  .nav .subscribe {
    display: none;
  }
}

.sign-in {
  background-color: var(--sign-in-btn-background-color);
}

@media (max-width: 767px) {
  .auth_btns .sign-in {
    padding: 8px 9px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .sign-in span {
    display: none;
  }
}

main {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.section {
  width: 100%;
  max-width: 1220px;
  padding: 0 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  gap: 20px;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 20px auto 0;
}

.section .article {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  width: 60%;
  max-width: 720px;
  padding: 0 10px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .section .article {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section {
    padding: 0 10px;
  }

  .section .article {
    padding: 0;
  }
}

.section .results {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  width: 40%;
  max-width: 324px;
  padding: 0;
  flex-direction: column;
}

@media (max-width: 1023px) {
  .section .results {
    display: none;
  }
}

.content {
  margin-top: 78px;
  padding: 30px 40px;
}

@media (max-width: 1023px) {
  .content {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .content {
    padding-top: 0;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 35.5px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30.55px;
  }
}

h1 span {
  text-decoration: underline;
}

.article .subtitle {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18.26px;
  font-weight: 600;
  line-height: 26.6px;
  text-align: left;
  margin: 0;
}

.article article, .article .block {
  width: 100%;
}

.article .img_block.double img:first-child {
  height: 100%;
  width: 59%;
}

.article .img_block img:last-child {
  height: 100%;
  width: 41%;
}

@media (max-width: 635px) {
  .article .block, .article .img_block img:first-child,
  .article .block, .article .img_block img:last-child {
    width: 100%;
  }
}

.article .img_block img.smaller {
  margin: 0 auto;
}

@media (max-width: 767px) {
  .article .img_block img.smaller {
    width: 100%;
  }
}

.article .img_block:not(:first-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;
  align-items: center;
}

.article .img_block, .article .block {
  margin-bottom: 20px;
}

.article .img_block .title span {
  color: var(--accent-color);
  cursor: pointer;
}

.article .img1 {
  margin-top: 9px;
}

.img1 .title {
  display: block;
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: -0.1px;
  text-align: left;
  margin: 10px 0;
}

.img1 .description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.article .btn_start {
  width: 519px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--start-btn-color);
  font-family: 'Myriad Pro', sans-serif;
  font-size: 28.71px;
  font-weight: 600;
  line-height: 34.45px;
  text-align: center;
  color: var(--standart-white);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .article .btn_start {
    width: 351.5px;
    height: 53px;
    font-size: 18px;
    line-height: 21.55px;
  }
}

.article .direct-speech {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .article .direct-speech {
    margin: 0;
  }
}

.img2 .img_block {
  display: flex;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .img2 .img_block {
    flex-direction: column;
    gap: 5px;
  }
}

.block .article_subtitle {
  font-family: 'Helvetica', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 39.2px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.block .article_subtitle span {
  color: var(--accent-color);
  cursor: pointer;
}

.article .block p, .img2 .description {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18.26px;
  font-weight: 600;
  line-height: 26.6px;
  text-align: left;
}

.article .block p {
  margin-bottom: 20px;
}

.article .steps {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article .comments {
  display: flex;
  flex-direction: column;
}

.article .comments .nav, .article .comments .nav a {
  font-family: 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--comments-color);
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}

.article .comments .block {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 76px;
  border-bottom: 1px solid var(--comments-border-color);
  cursor: pointer;
  margin: 0;
}

@media (max-width: 767px) {
  .article .comments .block {
    height: 121px;
  }
}

.article .comments .block img {
  width: 50px;
  height: 50px;
}

.article .comments .block .info .title {
  display: flex;
  flex-direction: column;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: var(--comments-color);
}

.article .comments .block .info .content, .article .comments .block .info .additional {
  display: flex;
  flex-direction: column;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 11.44px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: var(--comments-content-color);
  margin: 5px 0;
}

.article .comments .block .info .additional {
  display: flex;
  flex-direction: row;
  color: var(--comments-color);
  gap: 40px;
  margin: 5px 0;
}

.article .comments .block .info .additional span{
  color: var(--comments-color);
}


.article .comments .block .info .additional span:last-child {
  color: var(--comments-time-color);
  border-bottom: 1px dotted var(--comments-time-color);
}

.article .comments .block .info p {
  margin: 0;
  padding: 0;
}

.block p span, .results p span {
  color: var(--accent-color);
  cursor: pointer;
}

.results .block, .results .block p img {
  width: 100%;
}

.results h3 {
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  color: var(--results-h3-color);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}

.results .block:last-child h3 {
  font-family: 'Times New Roman', sans-serif;
  margin-bottom: 0;
  width: 384px;
}

.results p {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 17.3px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.1px;
  text-align: left;
}

.results .block:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results .block .step {
  width: 384px;
  border: 1px solid var(--step-border-color);
  background-color: var(--step-background-color);
  padding: 11px;
  cursor: pointer;
}

.block .step .title {
  display: flex;
  align-items: baseline;
  font-family: 'Times New Roman', sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-bottom: 20px;
}

.block .step .subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.1px;
  text-align: left;
  color: var(--accent-color);
  cursor: pointer;
}

.results .block .step img {
  width: 100%;
}

.results .block .step .title img {
  width: 20px;
}

footer {
  margin-top: 20px;
}

footer .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

footer .container .section-separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #BABDC2;
  padding: 16px 8px;
  width: 90%;
  margin: 0 auto;
}

footer .container .by {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: var(--footer-container-background);
}

footer .container .mob.by {
  display: none;
  justify-content: center;
  margin-top: 24px;
}

@media (max-width: 1023px) {
  span.by {
    display: none;
  }

  footer .container .mob.by {
    display: flex;
  }

  footer .container .section-separator {
    justify-content: center;
  }

  .section-separator div {
    display: flex;
    gap: 10px;
  }
}

footer .container .section-separator img, .by {
  cursor: pointer;
}

footer .container .lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin: 24px auto;
  width: 90%;
}

@media (max-width: 1023px) {
  footer .container .lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  footer .container .lists {
    display: flex;
    flex-direction: column;
  }
}

footer .container .lists .list {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  gap: 8px;
  color: var(--sign-in-btn-background-color);
}

@media (max-width: 767px) {
  footer .container .lists .list  {
    text-align: center;
  }
}

footer .container .lists .list .items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  color: var(--footer-items-color);
}

footer .container .download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--footer-items-color);
}

@media (max-width: 767px) {
  footer .container .download {
    border: 2px solid var(--nav-background-color);
    border-right: none;
    border-left: none;
    padding: 15px 0;
    margin: 0;
  }
}

footer .container .download .buttons {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

footer .container nav.partners {
  background-color: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container nav.partners {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: var(--sign-in-btn-background-color);
  padding: 16px 0;
}

footer .container nav.partners p {
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  color: var(--footer-items-color);
  text-transform: uppercase;
  margin-right: 5px;
}

footer .container nav.partners span {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  footer .container nav.partners {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  footer .container nav.partners span {
    display: none;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  position: sticky;
  z-index: 9999;
  bottom: 0;
  left: 0;
}

.overlay button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 36.4px;
  text-align: center;
  color: var(--standart-white);
  background: #EB6769;
  border-radius: 4px;
  text-decoration: none;
}

.site-info {
  width: 100%;
  z-index: 9999;
  background-color: var(--standart-white);
}

.site-info ul {
  display: flex;
  justify-content: center;
}

.site-info ul li {
  padding: 0 8px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: var(--footer-items-color);
}

.site-info ul li:not(:last-child) {
  border-right: 1px solid #DADADA;
}

@media (max-width: 767px) {
  .site-info {
    background-color: var(--footer-policy-background);
    padding: 24px 0;
  }

  .site-info ul {
    flex-direction: column;
    gap: 20px;
  }

  .site-info ul li {
    color: var(--standart-white);
  }
}
